/*
  stores all configurable variables used for styling

  colors
  fonts
  buttons and inputs shape
*/



  /* colors
  ============================================================================ */
  :root {

    /* general content */
    --pos-color-content-background: #f2f2f2;
    --pos-color-content-foreground: #303030;

    --pos-color-content-supplementary: #adadad;

    --pos-color-focused: #35b879; /* outline for focused elements */
    --pos-color-highlighted: #87e9ba; /* elements that needs user attention */

    /* interactive elements */
    --pos-color-interactive-text: #42a274;
    --pos-color-interactive-hover: #57be8c;
    --pos-color-interactive-active: #2e8a5c;
    --pos-color-interactive-disabled: #769c8a;

    /* colorful elements */
    --pos-color-colorful-background: #299c64;
    --pos-color-colorful-foreground: #fff;
    --pos-color-colorful-hover: #39ac74;

    /* content selection */
    --pos-color-selection-background: #2e70c1;

    /* frames */
    --pos-color-divider: #e2e2e2;

    /* buttons */
    --pos-color-button-default-background: #f5f5f5;
    --pos-color-button-default-foreground: #303030;
    --pos-color-button-default-frame: #e2e2e2;
    --pos-color-button-default-hover-background: #f5f5f5;
    --pos-color-button-default-hover-foreground: #303030;
    --pos-color-button-default-hover-frame: #303030;

    --pos-color-button-secondary-background: #f5f5f5;
    --pos-color-button-secondary-foreground: #303030;
    --pos-color-button-secondary-frame: #e2e2e2;
    --pos-color-button-secondary-hover-background: #f5f5f5;
    --pos-color-button-secondary-hover-foreground: #303030;
    --pos-color-button-secondary-hover-frame: #303030;

    /* links and interactive elements */
    --pos-color-interactive-text: #299c64;
    --pos-color-interactive-hover: #39ac74;

    --pos-color-navigation-hover: #fff;

    /* inputs */
    --pos-color-input-default-foreground: #303030;
    --pos-color-input-default-background: #f8f8f8;
    --pos-color-input-default-border: var(--pos-color-divider);
    --pos-color-input-default-hover-foreground: #303030;
    --pos-color-input-default-hover-background: #fff;
    --pos-color-input-default-hover-border: var(--pos-color-input-default-border);
    --pos-color-input-default-focus-foreground: var(--pos-color-input-default-foreground);
    --pos-color-input-default-focus-background: var(--pos-color-input-default-background);
    --pos-color-input-default-focus-border: var(--pos-color-input-default-border);
  }


/* fonts
============================================================================ */
:root {
  --pos-font-heading: 'Source Code Pro', 'Consolas', monospace;
  --pos-font-navigation: 'Source Code Pro', 'Consolas', monospace;
}


/* buttons and inputs shape
============================================================================ */
:root {
  --pos-padding-input: 1.5em;

  --pos-height-input: 2.6rem;

  --pos-border-input: 1px;

  --pos-radius-input: .5rem;
  --pos-radius-button: 22px;
}