/*
  styling for the inbox

  page background and font
  converstations list
*/



/* 
============================================================================ */
#pos-chat-inbox {
  display: grid;
  grid-template-columns: auto 1fr;
}



/* conversations list
============================================================================ */
#pos-chat-conversations {
  padding: var(--pos-padding-page);

  border-inline-end: 1px solid var(--pos-color-divider);
}

.pos-chat-conversationCard {
  display: flex;
}